.date-picker
    border: solid 1px rgba(125, 125, 125, 0.15)
    border-radius: 4px
    box-shadow: 0px 1px 4px 0px rgba(136, 136, 136, 0.38)
    width: 322px
    margin: 8px

.month-table
.year-table
.date-table
    margin: 15px
    width: 298px
    text-align: center

    .select-panel
        margin: 15px 0

    input   
        background: none 
        border: none
        outline: none
        cursor pointer

    .nextbutton
        float: right 

    .prebutton
        float left 
        
.month-panel
.year-panel
    display flex
    flex-wrap: wrap
    margin: 16px 0
    border-top: 1px solid rgba(125, 125, 125, 0.15)
    
    div
        width: 48px
        height 18px
        margin: 20px 12px
        text-align: center
        font-size: 12px
        cursor pointer
        text-align: center

        

.date-panel
    width: 298px
    margin-top: 8px
    font-size: 16px
    td
        display inline-block
        padding: 6px 0
        width: 42px
        height: 18px
        text-align: center
        cursor pointer
        font-size: 12px
        user-select none
        position relative

        &:hover::before
            content: ''
            display block
            position absolute
            top 3px
            left 9px
            background-color: rgba(0, 150, 136, 0.5)
            border-radius: 12px;
            width: 24px;
            height: 24px
            z-index: -1
    
    .weeks
        border-bottom: solid 1px rgba(125, 125, 125, 0.15)

        &:hover
            background: none
            cursor: default 
              
    .nothisM
        color: rgba(2, 2, 2, 0.4)
    .today
        position relative
        &::before
            content: ''
            display block
            position absolute
            top 3px
            left 9px
            background-color: #009688
            border-radius: 12px;
            width: 24px;
            height: 24px
            z-index: -1


    input   
        width: 250px
    
.choseYM    
    margin: 0 5px
    cursor pointer

.slide
    overflow hidden
    &-enter
    &-leave 
        transition: all .3s;

    &-enter
    &-before-leave 
        opacity: 1;
        transform: translate(0, 0);
    
    &-before-enter
        transform: translate(0, -70px);
        opacity: 0;
    &-leave 
        opacity: 0;
